<h1>Listing headaches</h1>

<table>
  <tr>
    <th>User</th>
    <th>Created at</th>
    <th>Updated at</th>
    <th>Onset time</th>
    <th>Length</th>
    <th>Cause</th>
    <th>Existing illness</th>
    <th>Intensity</th>
    <th>Location</th>
    <th>Course</th>
    <th>Mitigating factors</th>
    <th>Quality</th>
    <th>Associated symptoms</th>
    <th>Treatment</th>
    <th>Similar episodes</th>
    <th>Notes</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @headaches.each do |headache| %>
  <tr>
    <td><%= headache.user_id %></td>
    <td><%= headache.created_at %></td>
    <td><%= headache.updated_at %></td>
    <td><%= headache.onset_time %></td>
    <td><%= headache.length %></td>
    <td><%= headache.intensity %></td>
    <td><%= headache.similar_episodes %></td>
    <td><%= headache.notes %></td>
<!--
    <td><%= headache.cause %></td>
    <td><%= headache.existing_illness %></td>
    <td><%= headache.location %></td>
    <td><%= headache.course %></td>
    <td><%= headache.mitigating_factors %></td>
    <td><%= headache.quality %></td>
    <td><%= headache.associated_symptoms %></td>
    <td><%= headache.treatment %></td>
-->
    <td><%= link_to 'Show', headache %></td>
    <td><%= link_to 'Edit', edit_headache_path(headache) %></td>
    <td><%= link_to 'Destroy', headache, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Headache', new_headache_path %>
