<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @headache.user_id %>
</p>

<p>
  <b>Created at:</b>
  <%= @headache.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%= @headache.updated_at %>
</p>

<p>
  <b>Onset time:</b>
  <%= @headache.onset_time %>
</p>

<p>
  <b>Length:</b>
  <%= @headache.length %>
</p>

<p>
  <b>Intensity:</b>
  <%= @headache.intensity %>
</p>

<p>
  <b>Similar episodes:</b>
  <%= @headache.similar_episodes %>
</p>

<p>
  <b>Notes:</b>
  <%= @headache.notes %>
</p>
<!--
<p>
  <b>Cause:</b>
  <%= @headache.cause %>
</p>

<p>
  <b>Existing illness:</b>
  <%= @headache.existing_illness %>
</p>

<p>
  <b>Location:</b>
  <%= @headache.location %>
</p>

<p>
  <b>Course:</b>
  <%= @headache.course %>
</p>

<p>
  <b>Mitigating factors:</b>
  <%= @headache.mitigating_factors %>
</p>

<p>
  <b>Quality:</b>
  <%= @headache.quality %>
</p>

<p>
  <b>Associated symptoms:</b>
  <%= @headache.associated_symptoms %>
</p>

<p>
  <b>Treatment:</b>
  <%= @headache.treatment %>
</p>
-->

<%= link_to 'Edit', edit_headache_path(@headache) %> |
<%= link_to 'Back', headaches_path %>
